* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  width: 100%;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  flex-direction: row;
  box-sizing: border-box;
  position: sticky;
}

.header1 {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

.header1 button {
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
}

.header1 a {
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.header1 span {
  font-size: 10px;
  margin-left: -8px;
  height: 32px;
}

.header2 {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header2>div {
  display: flex;
  flex: 3;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.search_left {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 40px 0 0 40px;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-right: none;
}

.search_left div img {
  align-items: center;
  display: flex;
}

.search_left div:first-child {
  padding: 0 16px;
}

.search_left input {
  font-size: 16px;
}

.search_left div:last-child {
  padding: 0 10px;
}

.search_right {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0 40px 40px 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 41.6px;
  width: 64px;
  background-color: #f0f0f0;
}

.search_right button img {

  background: none;
}

.search_right button {
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
}

.mic button {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  width: 35px;
  height: 35px;
}

.mic button img {
  width: 24px;
  height: 24px;
}

.header3 {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: right;
}

.header3 div img {
  padding-left: 16px;
  padding-right: 10px;
  cursor: pointer;
}

.header3 div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mid {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  box-sizing: border-box;

}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 16px;
  width: 220px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  margin-top: -4px;
}

.sidebar_con {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-bottom: 5px;
}

.sidebar_home {
  display: flex;
  box-sizing: border-box;
  justify-content: left;
  width: 200px;
  height: 35px;
  margin-bottom: 6px;
}

.sidebar_home a {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: black;
  width: 200px;
  height: 35px;
}

.sidebar_home a span {
  font-size: 14px;
  padding-left: 16px;
}

.sidebar_home a img {
  padding: 8px;
}

.sidebar_more {
  display: flex;
  box-sizing: border-box;
  justify-content: left;
  width: 200px;
  height: 35px;
  margin-bottom: 6px;
}

.sidebar_more button {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  text-decoration: none;
  background: none;
  width: 180px;
  height: 35px;
  cursor: pointer;
}

.sidebar_more button span {
  font-size: 14px;
  padding-left: 16px;
}

.sidebar_more button img {
  padding: 8px;
}

.sidebar_con h1 {
  font-size: 16px;
  font-weight: normal;
  padding: 6px 0 6px 7px;
}

.side_last {
  display: flex;
  box-sizing: border-box;
  padding-left: 10px;
  text-decoration: none;
  margin-top: 10px;
  flex-direction: column;
}

.side_last div a{
  color: rgb(99, 96, 96);
  text-decoration: none;
}

.side_last div a span {
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
.side_last>div {
  padding: 5px 0 5px;
}

.side_text {
  font-size: 10px;
  line-height: 16px;
  color: rgb(99, 96, 96);
  display: inline-block;
}

.side_text a span {
  color: blue;
}

.main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding-left: 30px;
  padding-right: 16px;
}

.nav {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
  padding-top: 6px;
  width: 100%;
}

.nav div button {
  width: 100%;
  height: 35px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav div {
  padding-left: 14px;
}

.nav div button span {
  font-size: 14px;
  padding: 0 4px;
}

.nav1 button {
  width: 100%;
  height: 35px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  background-color: black;
}

.nav1 button span {
  font-size: 14px;
  padding: 0 4px;
}

.contents {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  box-sizing: border-box;
}

.contents_row {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.video {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 8px;
  padding-right: 14px;
}

.video>a>img{
  border-radius: 8px;
  width: 296px;
  height: 168px;
}

.video_h {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.thumb {
  display: flex;
}

.thumb a img {
  border-radius: 50%;
}

.video_h_text {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  text-decoration: none;
}

.video_h_text a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.video_h_text2 {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
}

.video_h_text3 {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
}

.video_h_text h2 {
  font-size: 14px;
  font-weight: normal;
}

.video_h_text2 a span {
  font-size: 8px;
}

.video_h_text3 a span {
  font-size: 12px;
}

.video_h_text3 {
  line-height: 10px;
}

.shorts {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 4px solid rgb(225, 221, 221);
  border-left: none;
  border-right: none;
  margin-right: 12px;
  padding: 0px 0 2px 0;
}

.shorts_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 0;
}

.shorts_logo {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.shorts_logo img {
  padding: 8px;
}

.shorts_logo span {
  padding-left: 6px;
  font-size: 18px;
}

.shorts_head div button img {
  padding: 8px 10px 8px 8px;
}

.shorts_head div button {
  background: none;
}

.shorts_vid div a img {
  max-width: 160px;
  max-height: 280px;
  border-radius: 8px;
}

.shorts_vid {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 160px;
  height: 350px;
  margin-right: 16px;
}

.shorts_vid_text {
  display: flex;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shorts_vid_text a {
  text-decoration: none;
  color: black;
}
.shorts_vid_text a span:first-of-type {
  font-size: 14px;
}

.shorts_vid_text a span:last-of-type {
  font-size: 14px;
  color: rgb(110, 110, 110);
}

.shorts_box {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.shorts_more {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
}

.shorts_more button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: none;
}